<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700772300359-njajbqi21v5fim1mqgmimkh29s3hh5j9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700772300359-njajbqi21v5fim1mqgmimkh29s3hh5j9</string>
	<key>API_KEY</key>
	<string>AIzaSyBh78U7I4u54UsFe6DiR5MpYAYwQByRybw</string>
	<key>GCM_SENDER_ID</key>
	<string>700772300359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-clone-5ca94</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-clone-5ca94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700772300359:ios:44362ac9660afca8bae362</string>
</dict>
</plist>